* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    font-size: 13px;
    font-family: 'Share Tech Mono', monospace;
}
button {
    font-family: inherit;
    padding: 10px;
    background: transparent;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    font-size: 16px;
    background: #E5E6E4;
}
#app {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow-y: hidden;
}
.battle{
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}
.character {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
}

.characterbox {
    width: 70%;
    padding: 10px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.75);
}

.charactername {
    text-align: left;
    border-bottom: 1px solid #000;
    padding: 10px;
    width: 100%;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

.characterimage {
    width: 20%;
    transition: all .05s ease-in-out
}

.characterimage img {
    width: 100%;
}

.healthbar {
    width: 100%;
    height: 40px;
    position: relative;
    margin-top: 10px;
}

.currhealth {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: inherit;
}
.red{
    background: rgba(255, 0, 0, 0.5);
}
.green{
    background: rgba(0, 128, 0, 0.5);
}
.yellow{
    background: rgba(255, 255, 0, 0.5);
}
.numberhealth {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.buttons{
    width: 100%;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.log{
    text-align: center;
    width: 25%;
    height: 100vh;
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px;
}
.enemylog, .mylog{
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.enemylog{
    background: #E5E6E4;
}
.mylog{
    background: #FBFBF2;
}
@media(max-width: 900px){
    #app{
        flex-direction: column;
        overflow-y: auto;
    }
    .log{
        height: auto;
        width: 100%;
    }
    .battle{
        width: 100%;
    }
}
@media(max-width: 500px){
    button{
        margin: 10px;
    }
    .buttons{
        flex-direction: column;
    }
    .battle{
        height: auto;
        min-height: 70vh;
    }
}